h1{
    text-align: center;
    margin-top: 2vh;
}

h4{
    margin: 5vh 0 0 5vh;
}

.botoes{
    margin: 5vh;
}

.download{
    margin: 0 0 2vh 5vh;
}

button{
    margin-left: 2vh;
}

.chart{
    margin-bottom: 5vh;
}